html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #172b36 0%, #d9e8e3 100%);
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: min(80vh, 90%);
    max-width: 600px;
}

#pongCanvas {
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#score {
    font-family: monospace;
    margin-top: 30px;
    font-size: 16px;
    padding-left: 20px;
    color: #172b36;
}
